@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello my friend!</h1>

Welcome to the app for finding interesting videos. 
Browse the database to find something for yourself. 
After logging in, you can also add new videos and rate existing ones.
