@page "/tweet"
@rendermode InteractiveServer

<div class="twitter-container">
    <a class="twitter-timeline" href="https://twitter.com/netflix?ref_src=twsrc%5Etfw">Tweets by Netflix</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<style>
    .twitter-container {
        max-width: 800px;
        margin: 0 auto;
    }
</style>
